onyxia:
  ingress:
    enabled: true
    # Es vital descomentar esta línea para que use el controlador que configuramos
    ingressClassName: nginx 
    hosts:
      - host: datalab.onyxia.esad.ignos.net # URL de acceso al panel
  web:
    env:
      #GLOBAL_ALERT: |
      #  {
      #    severity: "success",
      #    message: {
      #      en: "A **big** announcement! [Check it out](https://example.com)!",
      #      fr: "Une annonce **importante**! [Regardez](https://example.com)!"
      #    }
      #  }
  api:
    regions: [
      {
        id: "my-region",
        name: "Ignos Datalab",
        description: "Entorno de pruebas Onyxia sobre k3d",
        services: {
          type: "KUBERNETES",
          singleNamespace: true,
          authenticationMode: "serviceAccount",
          expose: {
            # Aquí es donde se lanzarán los Jupyter/VSCode
            # IMPORTANTE: Coincide con tu wildcard *.labs.onyxia.esad.ignos.net
            domain: "labs.onyxia.esad.ignos.net" 
          }
        }
      }
    ]
