onyxia:
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - host: datalab.onyxia.esad.ignos.net
  web:
    # The full list of configuration option for the web component is available here: 
    # https://github.com/InseeFrLab/onyxia/blob/main/web/.env
    env:
      ONYXIA_URL: "https://datalab.onyxia.esad.ignos.net"
      #GLOBAL_ALERT: |
      #  {
      #    severity: "success",
      #    message: {
      #      en: "A **big** announcement! [Check it out](https://example.com)!",
      #      fr: "Une annonce **importante**! [Regardez](https://example.com)!"
      #    }
      #  }

      CUSTOM_RESOURCES: "https://www.sspcloud.fr/onyxia-sspcloud-resources.zip"
      # The terms of services referenced are in the zip file above.  
      # You can use your own terms of services by supplying your own zip file.
      # More information here: https://docs.onyxia.sh/admin-doc/theme  
      TERMS_OF_SERVICES: |
        { 
          en: "%PUBLIC_URL%/custom-resources/tos_en.md", 
          fr: "%PUBLIC_URL%/custom-resources/tos_fr.md"
        }
  api:
    serviceAccount:
      create: true
      clusterAdmin: true
    # The full list of configuration option for the api component is available here:
    # https://github.com/InseeFrLab/onyxia-api?tab=readme-ov-file#configuration
    env:
      PROXY_SET_X_FORWARDED_PROTO: "true"
      #security.cors.allowed_origins: "*"
      authentication.mode: "openidconnect"
      oidc.issuer-uri: "https://auth.lab.onyxia.esad.ignos.net/auth/realms/datalab"
      oidc.clientID: "onyxia"
      # Permite que la API hable con Keycloak por HTTPS ignorando el error de certificado autofirmado
      oidc.skip-tls-verify: "true"
      #oidc.audience: "onyxia"
      #oidc.extra-query-params: "kc_idp_hint=google&foo=bar"
      #springdoc.swagger-ui.oauth.clientId: onyxia
      oidc.jwks-uri: "http://keycloak.default.svc.cluster.local/auth/realms/datalab/protocol/openid-connect/certs"
    
    # The region configuration is available here: 
    # https://github.com/InseeFrLab/onyxia-api/blob/main/docs/region-configuration.md
    regions: [
      {
        id: "my-region",
        name: "Ignos Datalab",
        description: "Region hosted on my-cluster",
        services: {
          type: "KUBERNETES",
          singleNamespace: false,
          authenticationMode: "serviceAccount",
          expose: {
            domain: "lab.onyxia.esad.ignos.net"
          },
          namespacePrefix: "user-",
          #usernamePrefix:"oidc-",
          groupNamespacePrefix: "project-",
          #groupPrefix:"oidc-",
        }
      }
    ]
